<div class="group relative md:inline-block">
  <h6
    class="
      md:inline md:py-5 md:text-base md:font-medium
      {% unless menu.dropdown %}
        md:hidden
      {% endunless %}
    "
  >
    {{- menu.name }}
    <svg
      aria-hidden="true"
      focusable="false"
      class="relative bottom-px inline-block h-3 transform transition-transform duration-200 group-hover:rotate-180"
      viewBox="0 0 10 6"
    >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
      </path>
    </svg>
  </h6>
  <ul
    role="menu"
    class="
      mb-7 flex-row font-medium md:inline
      {% if menu.dropdown %}
        md:absolute md:hidden md:w-full md:border md:border-deepSlate md:top-10 md:rounded-xl md:pl-3 md:pr-1  md:bg-softWhite md:hover:block md:group-hover:block md:py-3 md:z-10
      {% else %}
        md:py-5
      {% endif %}
    "
  >
    {% for item in menu.items %}
      {%- assign item_link_first_letter = item.link | slice: 0, 1 -%}
      {%- assign is_last_menu_item = forloop.last -%}
      <li
        role="menuitem"
        class="
          pl-2 md:mr-6 md:bg-softWhite md:pl-0
          {% if menu.dropdown %}
            md:w-full
            mr-2
          {% else %}
            md:inline-block
          {% endif %}
        "
      >
        <a
          href="{{- item.link -}}"
          class="leading-7 transition-all duration-200 md:text-base"
          {% unless item_link_first_letter == '#' %}
            target="_blank"
          {% endunless %}
        >
          {{- item.title -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
