<h6 class="md:hidden">{{- menu.name -}}</h6>
<ul class="mb-7 md:m-0 md:inline">
  {% for item in menu.items %}
    {%- assign item_link_first_letter = item.link | slice: 0, 1 -%}
    <li class="pl-2 md:inline md:pl-0 md:pr-4">
      <a
        href="{{- item.link -}}"
        class="leading-7"
        {% unless item_link_first_letter == '#' %}
          target="_blank"
        {% endunless %}
      >
        {{- item.title -}}
      </a>
    </li>
  {% endfor %}
</ul>
