<div class="group relative xl:inline-block">
  <h6
    class="
      xl:inline xl:py-5 xl:text-base xl:font-medium
      {% unless menu.dropdown %}
        xl:hidden
      {% endunless %}
    "
  >
    {{- menu.name }}
    <svg
      aria-hidden="true"
      focusable="false"
      class="relative bottom-px inline-block h-3 transform transition-transform duration-200 group-hover:rotate-180"
      viewBox="0 0 10 6"
    >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
      </path>
    </svg>
  </h6>
  <ul
    role="menu"
    class="
      mb-7 flex-row font-medium xl:inline
      {% if menu.dropdown %}
        xl:absolute xl:hidden xl:w-full xl:border xl:border-deepSlate xl:top-10 xl:rounded-xl xl:pl-3 xl:pr-1  xl:bg-softWhite xl:hover:block xl:group-hover:block xl:py-3 xl:z-10
      {% else %}
        xl:py-5
      {% endif %}
    "
  >
    {% for item in menu.items %}
      {%- assign item_link_first_letter = item.link | slice: 0, 1 -%}
      {%- assign is_last_menu_item = forloop.last -%}
      <li
        role="menuitem"
        class="
          pl-2 xl:mr-6 xl:bg-softWhite xl:pl-0
          {% if menu.dropdown %}
            xl:w-full
            mr-2
          {% else %}
            xl:inline-block
          {% endif %}
        "
      >
        <a
          href="{{- item.link -}}"
          class="leading-7 transition-all duration-200 xl:text-base"
          {% unless item_link_first_letter == '#' %}
            target="_blank"
          {% endunless %}
        >
          {{- item.title -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
