<h6 class="md:hidden">{{- menu.name -}}</h6>
<ul class="mb-7 flex-row font-medium md:inline">
  {% for item in menu.items %}
    {%- assign item_link_first_letter = item.link | slice: 0, 1 -%}
    {%- assign is_last_menu_item = forloop.last -%}
    <li
      class="pl-2 md:mr-6 md:inline-block md:pl-0"
    >
      <a
        href="{{- item.link -}}"
        class="leading-7 transition-all duration-200 hover:underline md:text-base"
        {% unless item_link_first_letter == '#' %}
          target="_blank"
        {% endunless %}
      >
        {{- item.title -}}
      </a>
    </li>
  {% endfor %}
</ul>
