<h3 class="mr-8 bg-deepSlate p-4 text-left text-xl text-softWhite shadow-highlightTitle md:text-xl lg:max-w-96">
  {%- render './snippets/arrow-icon-right.svg.liquid' -%}
  {{- heading -}}
</h3>
<p class="mx-8 mb-7 mt-3.5 text-left lg:ml-20 lg:text-left">
  {{- description -}}
</p>
