<h3 class="bg-deepSlate py-4 pl-2 text-left text-xl text-softWhite md:pl-3 md:text-xl">
  {%- render './snippets/arrow-icon-right.svg.liquid' -%}
  {{- heading -}}
</h3>
<p class="mx-8 mb-7 mt-3.5 text-left lg:ml-10 lg:text-left">
  {{- description -}}
</p>
