<h3 class="about__service-description-highlight-title relative mr-sectionDefaultX bg-deepSlate py-4 text-lg text-softWhite shadow-highlightTitle">
  {%- render './snippets/arrow-icon-right.svg.liquid' -%}
  {{- heading -}}
</h3>
<p class="about__service-description-highlight-description m-sectionDefault text-center text-lg">
  {{- description -}}
</p>