<h3 class="about__service-description-highlight-title mr-sectionDefaultX bg-deepSlate py-4 text-xl text-softWhite shadow-highlightTitle md:text-xl lg:max-w-96">
  {%- render './snippets/arrow-icon-right.svg.liquid' -%}
  {{- heading -}}
</h3>
<p class="about__service-description-highlight-description mx-sectionDefaultX mb-7 mt-3.5 text-center lg:ml-20 lg:text-left">
  {{- description -}}
</p>
