<h3 class="about__service-description-highlight-title text-softWhite bg-deepSlate shadow-highlightTitle mr-sectionDefaultX py-4 text-2xl relative">
  {%- render './snippets/arrow-icon-right.svg.liquid' -%}
  {{- heading -}}
</h3>
<p class="about__service-description-highlight-description m-sectionDefault text-center">
  {{- description -}}
</p>