<!doctype html>
<html lang="en" class="bg-black scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/flickity.css">
    <link href="./assets/flickity-fade.css" rel="stylesheet">

    {% comment %} Development, build output css and remove line below before publishing  {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">

    <link href="./assets/output.css" rel="stylesheet">

    <script src="settings.js" defer></script>
    <script src="assets/imagesloaded.pkgd.min.js" defer></script>
    <script src="assets/flickity.pkgd.min.js" defer></script>

    <script src="./assets/script.js" defer></script>

    <title>Tielinen.pro</title>
  </head>
  <body class="page m-auto max-w-md bg-softWhite font-montserrat text-deepSlate">
    {%- render './sections/header.liquid', menus: menus -%}
    <main>
      {% comment %} {%- render './sections/hero.liquid' -%} {% endcomment %}
      {%- render './sections/about.liquid' -%}
      {%- render './sections/services.liquid', service_descriptions: service-descriptions -%}
      {%- render './sections/portfolio.liquid', portfolio_items: portfolio-items -%}
      {%- render './sections/featured-services.liquid', featured_services: featured-services -%}
      {%- render './sections/reviews.liquid', reviews: upwork-profile.reviews -%}
      {%- render './sections/contact-form.liquid' -%}
    </main>
    {%- render './sections/footer.liquid', menus: menus -%}
  </body>
</html>
