<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Shopify Stores That Convert – Janne Tielinen, Shopify Expert, builds high‑converting stores, custom themes & migrations. View portfolio & book a call."
    >

    <meta property="og:title" content="Shopify Stores That Convert – Janne Tielinen">
    <meta
      property="og:description"
      content="Top‑Rated Plus Shopify Expert building high‑converting stores, custom themes & migrations."
    >
    <meta property="og:image" content="https://tielinen.pro/preview-image.webp">
    <meta property="og:url" content="https://tielinen.pro/">
    <meta property="og:type" content="website">

    <link rel="icon" href="/assets/favicon_512x512.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/flickity.css">
    <link href="./assets/flickity-fade.css" rel="stylesheet">

    <link href="./assets/output.css" rel="stylesheet">

    <script src="./settings.js" defer></script>
    <script src="./assets/imagesloaded.pkgd.min.js" defer></script>
    <script src="./assets/flickity.pkgd.min.js" defer></script>
    <script src="./assets/script.js" defer></script>

    <title>Tielinen.pro</title>
  </head>
  <body class="m-auto bg-softWhite font-montserrat text-base text-deepSlate md:text-lg">
    {%- render './sections/header', menus: menus -%}
    <main>
      {%- render './sections/hero' -%}
      {%- render './sections/about' -%}

      <div class="md:flex md:flex-row-reverse">
        {%- render './sections/video' -%}
        {%- render './sections/services', service_descriptions: service-descriptions -%}
      </div>

      {%- render './sections/portfolio', portfolio_items: portfolio-items -%}
      {%- render './sections/featured-services', featured_services: featured-services -%}
      {%- render './sections/reviews', reviews: upwork-profile.reviews -%}
      {%- render './sections/contact-form' -%}
    </main>
    {%- render './sections/footer', menus: menus -%}
    {%- render './sections/whatsapp' -%}
  </body>
</html>
