<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./assets/output.css" rel="stylesheet">
    <title>Tielinen.pro</title>
    <script src="./assets/script.js" defer></script>
  </head>
  <body class="page bg-softWhite text-deepSlate font-montserrat">
    {%- render './sections/header.liquid' -%}
    <main>
      {%- render './sections/hero.liquid' -%}
      {%- render './sections/about.liquid' -%}
      {%- render './sections/services.liquid' -%}
      {%- render './sections/portfolio.liquid', portfolio_items: portfolio-items -%}
      {%- render './sections/featured-services.liquid' -%}
      {%- render './sections/reviews.liquid' -%}
      {%- render './sections/contact-form.liquid' -%}
    </main>
    {%- render './sections/footer.liquid' -%}
  </body>
</html>
