@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold; /* Tailwind's utility class for font-weight: 700 */
}

h2 {
  @apply text-2xl md:text-3xl lg:text-5xl;
}

.mobile-section-padding {
  @apply px-6 py-8;
}

@layer base {
  a:hover,
  button:hover {
    @apply hover:underline;
  }
}
