<section id="about" class="mx-8 my-6 text-center lg:mt-0 lg:pt-20">
  <h2 class="section-heading-margin ">
    <span class="block xl:inline">Shopify Solutions by an experienced</span> Shopify Partner
  </h2>
  <p class="mb-7">I create and customize Shopify stores that look great, load fast, and boost sales.</p>
</section>
