<section id="about" class="about m-sectionDefault">
  <h2 class="about__title mb-4 mt-sectionDefaultY text-center text-lg tracking-tight">Your Growth-Driven Shopify Partner</h2>
  <p class="about__description mb-7 text-center">I focus on your success by delivering expert Shopify solutions, custom features, and smooth migrations that align with your brand. With clear communication and strategic insights, I ensure a reliable, results-driven partnership you can trust.</p>
  <video
    class="about__video w-full"
    width="362"
    height="204"
    controls>
    <source src="./assets/upwork-introduction-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>