<section id="about" class="mx-8 my-6 text-center lg:mt-0 lg:pt-20">
  <h2 class="section-heading-margin ">
    <span class="block xl:inline">Shopify Solutions by an experienced</span> Shopify Partner
  </h2>
  <p class="mb-7">
    I’m a Shopify Expert, Partner, and Store Builder specializing in Shopify website design, development, and store
    setup. Whether you need a brand-new Shopify store, a custom theme, or migration from Magento, BigCommerce,
    PrestaShop, or Etsy, I deliver fast, high quality results.
  </p>
</section>
