<section id="about" class="about m-sectionDefault">
  <h2 class="about__title mb-4 mt-sectionDefaultY text-center text-lg tracking-tight ">
    Development and consultation can be made simple yet effective
  </h2>
  <p class="about__description mb-7 text-center">
    I specialize in building high-converting, visually stunning websites and Shopify stores, focusing on theme
    customization. Leave the complex code to me and enjoy a seamless, user-friendly experience that drives sales.
  </p>
  <video class="about__video w-full" width="362" height="204" controls>
    <source src="./assets/upwork-introduction-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
