<section id="about" class="about m-sectionDefault">
  <h2 class="about__title mb-4 mt-sectionDefaultY text-center text-lg tracking-tight">
    High-Converting Shopify Solutions from a Trusted, Experienced Shopify Partner
  </h2>
  <img class="mx-auto mb-4 block w-1/2" src="./assets/images/shopify_logo_black.png" alt="Shopify logo">
  <p class="about__description mb-7 text-center">
    Get a high-converting, custom Shopify store built by a Shopify Partner.<br>
    Contact me today to transform your online sales.
  </p>
  <video
    class="about__video w-full rounded"
    width="362"
    height="204"
    controls
  >
    <source src="./assets/upwork-introduction-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
