<section id="about" class="about m-sectionDefault lg:mt-0 lg:pt-20">
  <h2 class="mb-4 mt-sectionDefaultY text-center tracking-tight">
    <span class="block xl:inline">Shopify Solutions by an</span> experienced Shopify Partner
  </h2>
  <p class="mb-7 text-center">I create and customize Shopify stores that look great, load fast, and boost sales.</p>
</section>
