<section id="about" class="about m-sectionDefault">
  <h2 class="about__title mb-4 mt-sectionDefaultY text-center text-lg tracking-tight">
    Shopify Solutions by a Experienced Shopify Partner
  </h2>
  {% comment %} <img class="mx-auto mb-4 block w-1/2" src="./assets/images/shopify_logo_black.png" alt="Shopify logo"> {% endcomment %}
  <p class="about__description mb-7 text-center">
    I create and customize Shopify stores that look great, load fast, and boost sales.
  </p>
  <video
    class="about__video w-full rounded"
    width="362"
    height="204"
    controls
  >
    <source src="./assets/upwork-introduction-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
