<address class="sticky left-0 top-0 z-10 w-full border-b-2 border-softWhite bg-frostedBlue py-4 text-center font-semibold">
  <a
    href="https://api.whatsapp.com/send?phone=358452534848&text=Hi%20Janne!%20I%E2%80%99d%20like%20to%20discuss%20my%20Shopify%20store%20project%E2%80%94can%20we%20chat%3F"
    target="_blank"
    aria-label="Chat on WhatsApp"
    class="inline-flex items-center justify-center space-x-2"
    ><span class="block md:inline">Message Me Now! </span>
    <img
      class="inline"
      src="/assets/images/whatsapp-icon.svg"
      alt="WhatsApp"
      width="28"
      height="28"
    >
  </a>
</address>
