<address class="sticky left-0 top-0 z-10 w-full border-b-2 border-softWhite bg-frostedBlue py-4 text-center font-semibold">
  <a href="https://wa.me/358452534848" target="_blank" rel="noopener" class=""
    ><span class="block md:inline">Message Me Now! </span><span>WhatsApp: +358452534848</span>
  </a>
</address>
