<section id="contact-form" class="contact-form px-10 py-24 text-lg">
  <h2 class="contact-form__title mb-8 text-center">Get in Touch</h2>
  <p class="contact-form__description mb-14 leading-snug">
    Have a question or want to work together? Fill out the form below, and I'll get back to you as soon as possible.
  </p>
  <form class="contact-form__form text-sm flex justify-center flex-col" action="#" method="post">
    {% assign input_classes = 'contact-form__input mb-7 rounded-xl bg-dissolvedDenim py-2 pl-5' %}
    <input
      class="{{ input_classes }}"
      type="text"
      id="name"
      name="name"
      placeholder="Name"
      required
    >
    <input
      class="{{ input_classes }}"
      type="email"
      id="email"
      name="email"
      placeholder="example@email.fi"
      required
    >
    <textarea
      class="{{ input_classes }}"
      id="message"
      name="message"
      placeholder="Your Message"
      rows="9"
      required
    ></textarea>
    <button type="submit" class="contact-form__button bg-dissolvedDenim px-12 py-5 grow-0 m-auto rounded-xl">Send Message</button>
  </form>
</section>
