<section id="contact-form" class="p-10 lg:py-20">
  <h2 class="section-heading-margin text-center">Get in Touch</h2>
  <p class="mb-14 leading-snug lg:mx-auto lg:mb-8 lg:w-2/3 lg:text-center xl:mb-12">
    Have a question or want to work together? Fill out the form below, and I'll get back to you as soon as possible.
  </p>
  <form
    action="https://formsubmit.co/8ff01a82068cb3452aa2de06188362d0"
    method="POST"
    class="contact-form__form flex flex-col justify-center text-sm lg:mx-auto lg:w-2/3"
    action="#"
    method="post"
  >
    {% assign input_classes = 'mb-7 rounded-xl bg-dissolvedDenim py-2 pl-5 border border-deepSlate lg:py-5 lg:text-2xl' %}
    <input
      class="{{ input_classes }}"
      type="text"
      id="name"
      name="name"
      placeholder="Name"
      required
    >
    <input
      class="{{ input_classes }}"
      type="email"
      id="email"
      name="email"
      placeholder="example@email.fi"
      required
    >
    <textarea
      class="{{ input_classes }} xl:mb-10"
      id="message"
      name="message"
      placeholder="Your Message"
      rows="9"
      required
    ></textarea>
    <input
      class="hidden"
      type="text"
      name="_honey"
      style="display:none"
    >
    <button
      type="submit"
      class="m-auto grow-0 rounded-xl bg-deepSlate px-12 py-5 text-softWhite lg:mr-0 lg:text-2xl lg:font-semibold"
    >
      Send Message
    </button>
  </form>
</section>
