<section id="contact-form" class="contact-form px-10 py-16 text-lg">
  <h2 class="contact-form__title mb-8 text-center">Get in Touch</h2>
  <p class="contact-form__description mb-14 leading-snug">
    Have a question or want to work together? Fill out the form below, and I'll get back to you as soon as possible.
  </p>
  <form
    action="https://formsubmit.co/8ff01a82068cb3452aa2de06188362d0"
    method="POST"
    class="contact-form__form flex flex-col justify-center text-sm"
    action="#"
    method="post"
  >
    {% assign input_classes = 'contact-form__input mb-7 rounded-xl bg-dissolvedDenim py-2 pl-5 border border-deepSlate' %}
    <input
      class="{{ input_classes }}"
      type="text"
      id="name"
      name="name"
      placeholder="Name"
      required
    >
    <input
      class="{{ input_classes }}"
      type="email"
      id="email"
      name="email"
      placeholder="example@email.fi"
      required
    >
    <textarea
      class="{{ input_classes }}"
      id="message"
      name="message"
      placeholder="Your Message"
      rows="9"
      required
    ></textarea>
    <input
      class="hidden"
      type="text"
      name="_honey"
      style="display:none"
    >
    <button type="submit" class="contact-form__button m-auto grow-0 rounded-xl bg-deepSlate px-12 py-5 text-softWhite">
      Send Message
    </button>
  </form>
</section>
