<section id="featured-services" class="featured-services bg-softWhite px-5 py-24 text-center">
  <h2 class="featured-services__heading mb-7 text-2xl">Featured Services</h2>
  <p class="featured-services__subheading mb-16">Featured Services</p>
  <div class="featured-services__items">
    {%- for servive_item in featured_services -%}
      <div class="featured-services__item bg-white">
        <h3 class="featured-services__item-title">{{- servive_item.title -}}</h3>
        <p class="featured-services__item-description">
          {{- servive_item.description -}}
        </p>
      </div>
    {%- endfor -%}
  </div>
</section>
