<section id="featured-services" class="section-padding bg-softWhite text-center">
  <h2 class="section-heading-margin">Featured Services</h2>
  <p class="mb-10 lg:mx-20 xl:mb-20">
    Explore my Shopify services to launch, enhance, and optimize your online presence. I handle setup, custom features,
    and migrations, so you can focus on growth.
  </p>
  <div class="lg:mx-20 lg:flex lg:justify-between">
    {%- for servive_item in featured_services -%}
      <div class="featured-service-container lg:flex lg:w-[25vw] lg:flex-col lg:justify-between">
        <img
          class="featured-service-logo"
          src="./assets/images/shopify_logo_black.webp"
          alt="Shopify logo"
          loading="lazy"
        >
        <h3 class="featured-service-heading">{{- servive_item.title -}}</h3>
        <p>
          {{- servive_item.description -}}
        </p>

        <h4 class="lg:mt-a my-5 text-lg font-semibold">
          Starting at $
          {{- servive_item.price -}}
        </h4>

        <a
          href="#contact-form"
          class="mx-auto mb-7 block w-fit rounded-xl  bg-deepSlate p-2 font-semibold text-softWhite lg:mb-0 lg:px-6 lg:py-3 lg:text-xl"
          >Request Quote</a
        >
      </div>
    {%- endfor -%}
  </div>
  <div class="mt-10 rounded-xl bg-white p-10 lg:mx-auto lg:w-[25vw]">
    <img
      class="featured-service-logo"
      src="./assets/images/shopify_logo_black.webp"
      alt="Shopify logo"
      loading="lazy"
    >
    <h3 class="featured-service-heading">Need something else?</h3>
    <p class="">
      I’m happy to discuss any Shopify-related needs not listed here. Let’s chat about your unique goals and find the
      perfect solution for your store.
    </p>
    <a
      href="#contact-form"
      class="mx-auto  mt-5 block w-fit rounded-xl  bg-deepSlate p-2 font-semibold text-softWhite lg:mb-0 lg:px-6 lg:py-3 lg:text-xl"
      >Contact Me</a
    >
  </div>
</section>
