<section id="featured-services" class="featured-services">
  <h2 class="featured-services__heading">Featured Services</h2>
  <p class="featured-services__subheading">Featured Services</p>
  <div class="featured-services__items">
    {%- for servive_item in featured-services -%}
      <div class="featured-services__item">
        <h3 class="featured-services__item-title">{{- servive_item.title -}}</h3>
        <p class="featured-services__item-description">
          {{- servive_item.description -}}
        </p>
      </div>
    {%- endfor -%}
  </div>
</section>