<footer id="footer" class="footer bg-[#101010] pt-16 text-center text-white">
  <div class="inline-block">
    <a href="#" class="mb-16 inline-block text-4xl font-semibold">
      <span class="font-bold">Janne</span>
      Tielinen</a
    >
    <nav class="footer__nav mb-28 flex justify-between">
      {%- for menu in menus -%}
        <div class="footer__nav-menu text-left last:text-right">
          <h6>{{- menu.name -}}</h6>
          <ul class="list-none">
            {%- for item in menu.items -%}
              <li class="footer__nav-item">
                <a href="{{- item.link -}}" class="header__nav-link">{{- item.title -}}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
    </nav>
  </div>
  <div class="footer__copyright">
    <small class="font-semibold">&copy; {{ 'now' | date: '%Y' }} Janne Tielinen. All rights reserved.</small>
  </div>
</footer>
