<footer id="footer" class="bg-[#101010] pt-16 text-center text-white">
  <div class="inline-block">
    <a href="#" class="mb-16 inline-block text-4xl font-semibold lg:text-6xl">
      <span class="font-bold">Janne</span>
      Tielinen</a
    >
    <nav class="mb-14 flex justify-between lg:mb-8 lg:text-2xl">
      {%- for menu in menus -%}
        <div class="text-left last:text-right">
          <h6 class="lg:mb-4">{{- menu.name -}}</h6>
          <ul class="list-none">
            {%- for item in menu.items -%}
              <li class="lg:mb-2">
                <a href="{{- item.link -}}">{{- item.title -}}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
    </nav>
  </div>
  <div class="footer__copyright lg:pb-4 lg:pl-4 lg:text-left">
    <small class="font-semibold">&copy; {{ 'now' | date: '%Y' }} Janne Tielinen. All rights reserved.</small>
  </div>
</footer>
