<header
  id="header"
  class="relative h-36 items-center bg-softWhite px-10 py-7 md:flex md:h-16 md:justify-between md:px-20 md:py-0"
>
  <a
    href="#"
    aria-label="Homepage – Janne Tielinen"
    class="block whitespace-nowrap text-center text-xl font-semibold uppercase md:text-4xl"
  >
    <h1 class="font-semibold"><span class="font-extrabold">Janne</span> Tielinen</h1>
  </a>

  <nav id="header-nav" class="" aria-labelledby="js-mobile-menu-toggle">
    <button
      id="js-mobile-menu-toggle"
      class="absolute bottom-7 left-10 md:hidden"
      aria-controls="js-header-menus"
      aria-expanded="false"
      aria-label="Open mobile menu"
    >
      {%- render './snippets/hamburger-icon.svg.liquid', id: 'js-hamburger-icon', size: 30, fill_color: '#2a3439' -%}
      {%- render './snippets/xmark.svg.liquid',
        id: 'js-x-mark-icon',
        classes: 'hidden',
        size: 30,
        fill_color: '#2a3439'
      -%}
    </button>
    <div
      id="js-header-menus"
      class="absolute left-0 top-full z-10 hidden h-screen w-full bg-frostedBlue pl-10 pt-7 md:static md:inline md:h-auto md:bg-transparent md:p-0"
    >
      {%- assign menu_order = 'Sections, Find Me Online' | split: ',' -%}
      {% for menu_name in menu_order %}
        {%- assign menu_in_order = menu_name | strip -%}
        {% assign menu = menus | where: 'name', menu_in_order | first %}
        {% if menu %}
          {%- render './snippets/menu-item.liquid', menu: menu, is_last_menu: forloop.last -%}
        {% endif %}
      {% endfor %}
    </div>
  </nav>
  <a
    href="#contact-form"
    id="header-cta-button"
    class="absolute bottom-7 right-10 rounded-xl bg-deepSlate p-2 text-sm font-semibold text-softWhite md:static md:text-base"
    >Contact Me</a
  >
</header>
