<header id="header" class="header p-[35px_30px_35px_40px]">
  <div class="header__logo mb-[20px] text-center">
    <a href="#" class="header__logo-link text-[20px] font-extrabold lg:text-[56px] lg:font-bold">Janne Tielinen</a>
  </div>
  <div class="header__actions flex items-center justify-between">
    <nav class="header__nav">
      <button class="menu__toggle block md:hidden">
        {%- render './snippets/hamburger-icon.svg.liquid' -%}
      </button>
      <ul class="header__nav-list hidden">
        {%- for item in menus[0].items -%}
          <li class="header__nav-item">
            <a href="{{- item.link -}}" class="header__nav-link">{{- item.title -}}</a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    <a
      href="#contact-form"
      class="header__cta-button rounded-md bg-frostedBlue px-4 py-1 font-semibold text-white"
      >Contact Me</a
    >
  </div>
</header>
