<section id="hero" class="hero mb-12 bg-frostedBlue">
  <div class="p-sectionDefault">
    <h1 class="pb-6 text-center text-2xl font-bold">Shopify Stores That Convert</h1>
    <p class="text-center">As a Shopify Partner, I build conversion-focused stores that grow your business.</p>
    {% comment %} <a href="#contact" class="hero__cta-button">Get in Touch</a> NO CTA in hero? {% endcomment %}
  </div>
  <div class="flex max-w-full justify-between">
    <img
      class="relative -mb-3 w-[65%] sm:-mb-5 md:-mb-6"
      src="./assets/images/herofin.png"
      alt="Screenshot of stores"
      width="988"
      height="678"
    >
    <img
      class="w-[35%]" 
      src="./assets/images/janne_tielinen.png"
      alt="Janne Tielinen"
      width="162"
      height="229"
    >
  </div>
</section>
