<section id="hero" class="hero bg-frostedBlue">
  <div class="hero__content p-sectionDefault">
    <h1 class="hero__heading pb-6 text-center text-[22px] font-bold">
      Shopify expert and <br>
      developer<br>
      at Your service
    </h1>
    <p class="hero__paragraph text-center text-[14px]">
      Whether You need some improvements to Your existing website, or You are thinking of brand new website or webshop
      on Shopify, great journey starts here.
    </p>
    {% comment %} <a href="#contact" class="hero__cta-button">Get in Touch</a> NO CTA in hero? {% endcomment %}
  </div>
  <div class="hero__images flex max-w-full justify-between">
    <img
      class="relative -mb-3 w-[65%] sm:-mb-5 md:-mb-6"
      src="./assets/herofin.png"
      alt="Screenshot of stores"
      width="988"
      height="678"
    >
    <img class="w-[35%]" src="./assets/janne_tielinen.png" alt="Janne Tielinen" width="162" height="229">
  </div>
</section>
