<section id="hero" class="hero mb-12 bg-frostedBlue text-center lg:mb-10">
  <div class="mobile-section-padding">
    <h2 class="mb-3 text-2xl font-bold md:text-4xl lg:mb-1 lg:mt-7 lg:text-5xl">Shopify Stores That Convert</h2>
    <p class="mb-6 md:pb-7">
      As a Shopify Partner, I build conversion-focused stores that
      <span class="block font-semibold md:inline">grow your business.</span>
    </p>

    <a
      href="/meet"
      id="hero-cta-button"
      class="large-button"
      target="_blank"
      >Start your store</a
    >
  </div>
  <div class="flex max-w-full justify-between">
    <img
      loading="eager"
      class="-mb-3 w-[65%] sm:-mb-5 lg:-mb-6"
      srcset="
        ./assets/images/online_store_screenshots-w320px.webp 320w,
        ./assets/images/online_store_screenshots-w480px.webp 480w,
        ./assets/images/online_store_screenshots-w768px.webp 768w,
        ./assets/images/online_store_screenshots-w1024px.webp 1024w,
        ./assets/images/online_store_screenshots-w1280px.webp 1208w
      "
      sizes="65vw"
      src="./assets/images/online_store_screenshots-w1208px.webp"
      alt="Screenshot of created online stores"
      width="1208"
      height="981"
    >
    <img
      loading="eager"
      class="w-[35%]"
      srcset="
        ./assets/images/janne_tielinen_w162px.webp 162w,
        ./assets/images/janne_tielinen_w320px.webp 320w,
        ./assets/images/janne_tielinen_w480px.webp 480w,
        ./assets/images/janne_tielinen_w650px.webp 650w,
        ./assets/images/janne_tielinen_w768px.webp 768w,
        ./assets/images/janne_tielinen_w1024px.webp 1024w
      "
      sizes="35vw"
      src="./assets/images/janne_tielinen_w650px.webp"
      alt="Profile picture of Janne Tielinen"
      width="650"
      height="919"
    >
  </div>
</section>
