<section id="reviews" class="reviews bg-frostedBlue px-10 pt-20">
  <h2 class="reviews__heading mb-10 text-center text-2xl">Reviews</h2>
  <p class="reviews__subheading mb-20 text-center text-lg">These reviews are authentic feedback from my real, paying clients on Upwork.
    <a
      class="underline"
      target="_blank"
      href="https://www.upwork.com/freelancers/jannetielinen">View my Upwork profile.</a>
  </p>
  <div class="reviews__items">
    {%- for review in reviews %}
      <div class="reviews__item relative mb-10 mr-3 mt-24 flex w-4/5 items-center rounded-xl bg-white px-11 pb-24 pt-28">
        {% comment %} min-h-[485px] {% endcomment %}
        <div class="circle absolute left-1/2 top-0 h-44 w-44 translate-x-[-50%] translate-y-[-50%] overflow-hidden rounded-full bg-dissolvedDenim">
          {%- render './snippets/review-star.svg.liquid'
            , classes: 'absolute left-1/2 top-8 -translate-x-[150%]' -%}
          {%- render './snippets/review-star.svg.liquid'
            , classes: 'absolute left-1/2 top-6 -translate-x-1/2' -%}
          {%- render './snippets/review-star.svg.liquid'
            , classes: 'absolute left-1/2 top-8 translate-x-1/2' -%}
          <h6 class="absolute top-1/2 w-full text-center text-base font-semibold leading-tight">
            {{- review.job_title | truncate: 45 -}}
          </h6>
        </div>

        <div class="reviews__item-text-content relative">
          {%- render './snippets/quotes-start.svg.liquid'
            , classes: 'absolute -top-5 -left-1' -%}
          <div class="reviews__item-client">
            <p class="reviews__item-client-position mb-7 text-center text-2xl font-semibold">
              {{- review.reviewer_job_title -}}
            </p>
          </div>
          <p class="reviews__item-text relative text-justify text-sm">
            {{- review.review | truncate: 120 -}}
          </p>
          {%- render './snippets/quotes-end.svg.liquid'
            , classes: 'absolute right-0 -bottom-6' -%}
        </div>
      </div>
    {%- endfor %}
  </div>
</section>