<section id="reviews" class="reviews bg-frostedBlue px-10 pt-20">
  <h2 class="reviews__heading text-center text-2xl">Reviews</h2>
  <p class="reviews__subheading mb-20 text-center text-lg">Reviews subheading</p>
  <div class="reviews__items">
    {%- for review in reviews %}
      <div class="reviews__item relative mb-40 mt-24 rounded-xl bg-white px-11 pb-24 pt-28  {% if forloop.index > 3 %}hidden{%- endif -%}">
        <div
          class="circle absolute left-1/2 top-0 h-44 w-44 translate-x-[-50%] translate-y-[-50%] rounded-full bg-dissolvedDenim"
        >
          {%- render './snippets/review-star.svg.liquid', classes: 'absolute left-1/2 top-8 -translate-x-[150%]' -%}
          {%- render './snippets/review-star.svg.liquid', classes: 'absolute left-1/2 top-6 -translate-x-1/2' -%}
          {%- render './snippets/review-star.svg.liquid', classes: 'absolute left-1/2 top-8 translate-x-1/2' -%}
        </div>
        <div class="reviews__item-client">
          <p class="reviews__item-client-position mb-7 text-center text-2xl font-semibold">
            {{- review.reviewer_job_title -}}
          </p>
        </div>
        <p class="reviews__item-text relative">
          {%- render './snippets/quotes-start.svg.liquid', classes: 'absolute -top-20' -%}
          {{- review.review | truncate: 120 -}}
          {%- render './snippets/quotes-end.svg.liquid', classes: 'absolute right-0 -bottom-10' -%}
        </p>
      </div>
    {%- endfor %}
  </div>
</section>
