<section id="services" class="lg:mb-20">
  <h2 class="mb-4 mt-sectionDefaultY text-center lg:mx-20 lg:text-left">Working With Me</h2>
  <p class="mx-sectionDefaultX mb-8 text-center lg:mx-20 lg:text-left">
    I believe in a personalized approach to each project. By focusing on your unique needs, I ensure a seamless and
    productive partnership that leads to outstanding results.
  </p>
  {%- for description_object in service_descriptions -%}
    {%- render './snippets/service-description.liquid',
      heading: description_object.heading,
      description: description_object.description,
      is_last: forloop.last
    -%}
  {%- endfor -%}
  <a
    href="#contact-form"
    class="mx-auto mb-7 block w-fit rounded-xl bg-deepSlate p-2  font-semibold text-softWhite md:text-base  lg:hidden"
    >Contact Me</a
  >
</section>
