<section id="services" class="services">
  <h2 class="about__title mb-4 mt-sectionDefaultY text-center text-2xl">Working With Me</h2>
  <p class="mx-sectionDefaultX mb-8 text-center">
    I believe in a personalized approach to each project. By focusing on your unique needs, I ensure a seamless and
    productive partnership that leads to outstanding results.
  </p>
  {%- for description_object in service_descriptions -%}
    {%- render './snippets/service-description.liquid',
      heading: description_object.heading,
      description: description_object.description,
      is_last: forloop.last
    -%}
  {%- endfor -%}
  <a href="#contact-form" class="mx-auto mb-7 block w-fit rounded-xl  bg-deepSlate p-2 font-semibold text-softWhite"
    >Contact Me</a
  >
</section>
