<section>
  <p class="">
    Certified in
    <a href="https://www.credly.com/badges/14bdc3d1-4118-4dee-b17a-8adbfe4a6b0a" class="underline"
      >Shopify Foundations</a
    >,
    <a href="https://www.credly.com/badges/27843625-c941-4025-9ddf-b32b01201755" class="underline">Liquid Storefronts</a
    >, and recognized as
    <a href="https://support.upwork.com/hc/en-us/articles/360050417233-Top-Rated-Plus" class="underline"
      >Upwork Top‑Rated Plus</a
    >.
  </p>
</section>
