<section id="video" class="video mx-8 my-6 shrink-0 lg:relative lg:w-1/2">
  <video
    class="about__video w-full rounded lg:sticky lg:top-5 lg:mb-20"
    width="362"
    height="204"
    controls
    poster=""
    aria-label="60‑sec intro video"
  >
    <source src="./assets/introduction_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
