<a
  href="https://wa.me/358452534848?text=Hi%20Janne!%20I%20found%20your%20site%20and%20need%20help%20launching%20my%20Shopify%20store.%20Could%20we%20set%20up%20a%20quick%20call%20to%20discuss%20timelines%20and%20budget?%20Thanks!"
  target="_blank"
  aria-label="Chat on WhatsApp"
  class="
    group fixed bottom-5 left-1/2 z-10 inline-flex -translate-x-1/2
    transform md:left-auto md:right-5 md:transform-none
  "
>
  <!-- default (white) -->
  <img
    src="/assets/images/WhatsAppButtonWhiteSmall.webp"
    alt="Chat on WhatsApp"
    class="block group-hover:hidden"
  >
  <!-- hover (green) -->
  <img
    src="/assets/images/WhatsAppButtonGreenSmall.webp"
    alt="Chat on WhatsApp"
    class="hidden group-hover:block"
  >
</a>
